# Test Pandas

In [2]:
import pandas as pd
import numpy as np

## Test drop duplicates for unique/distinct

In [8]:
df = pd.DataFrame({
    'a': np.arange(1, 6),
    'b': [2, 2, 2, 3, 3]
})

df.head()

   a  b
0  1  2
1  2  2
2  3  2
3  4  3
4  5  3

In [9]:
df.drop_duplicates()

   a  b
0  1  2
1  2  2
2  3  2
3  4  3
4  5  3

In [12]:
df[['b']].drop_duplicates()

   b
0  2
3  3

## Test add new columns

[Sauce](https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/)

The `.insert()` method modifies the dataframe in place.
Also it errors if the column already exists.

In [21]:
df = pd.DataFrame({
    'a': np.arange(1, 6),
    'b': [2, 2, 2, 3, 3]
})

df.insert(2, "new", np.arange(5))

df

   a  b  new
0  1  2    0
1  2  2    1
2  3  2    2
3  4  3    3
4  5  3    4

The `.assign()` method doesn't change in place.

In [24]:
df = pd.DataFrame({
    'a': np.arange(1, 6),
    'b': [2, 2, 2, 3, 3]
})

df.assign(new = np.arange(5))

df

   a  b
0  1  2
1  2  2
2  3  2
3  4  3
4  5  3

In [25]:
# Now assigning to variable
df = pd.DataFrame({
    'a': np.arange(1, 6),
    'b': [2, 2, 2, 3, 3]
})

df = df.assign(new = np.arange(5))

df

   a  b  new
0  1  2    0
1  2  2    1
2  3  2    2
3  4  3    3
4  5  3    4

### Testing with objects

When I try to use the `.insert()` method on an dataframe that hasn't been assigned to a variable, it doesn't work:

In [33]:
print(pd.DataFrame({
    'a': np.arange(1, 6),
    'b': [2, 2, 2, 3, 3]
}).insert(2, "new", np.arange(5)))

None

Compared to the `.assign()` method, in which case it works. Why is this the case?

In [34]:
pd.DataFrame({
    'a': np.arange(1, 6),
    'b': [2, 2, 2, 3, 3]
}).assign(new = np.arange(5))

   a  b  new
0  1  2    0
1  2  2    1
2  3  2    2
3  4  3    3
4  5  3    4